* {
	padding: 0;
	margin: 0;
}

/*轮播图*/

.swiper-container {
	width: 100%;
	background: #ccc;
}

.swiper-container img {
	width: 100%;
	height: 400px;
}

.swiper-slide {
	font-size: 60px;
	text-align: center;
	line-height: 300px;
}

.swiper-pagination-bullet {
	cursor: pointer;
	width: 26px;
	height: 8px;
	display: inline-block;
	*zoom: 1;
	margin: 10px 5px;
	background-color: #000;
	opacity: 0.3;
	border-radius: 0;
}

.swiper-pagination-bullet-active {
	background: white;
	opacity: 0.8;
}

#tvLive {
	width: 1100px;
	margin: 0 auto;
	margin-top: 30px;
}

.vedio_title {
	width: 100%;
	text-align: left;
	margin-top: 0px;
}

.v_h2 {
	position: relative;
	margin-bottom: 6px;
}

.h2_top {
	font-size: 22px;
	color: #222;
	line-height: 32px;
	font-weight: bold;
}

.h2_top span {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	padding-left: 10px;
}

.tv_jiemubiao {
	font-size: 15px;
	position: absolute;
	top: 0;
	right: 0;
	width: 108px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #DF0010;
	border-radius: 30px;
	text-align: center;
	color: #DF0010;
}

.groDiv {
	position: relative;
}

.groUlOut {
	overflow: hidden;
}

#tv_zhiobo_ul {
	display: block;
	width: 18768px;
	left: 0px;
	position: relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	transition: all 1s;
}

.groUlOut li {
	display: list-item;
	cursor: pointer;
	float: left;
	position: relative;
	width: 354px;
	transition: box-shadow 0.5s ease 0s;
	_margin: 8px 5px;
	-moz-transition: box-shadow 0.5s ease 0s;
	-webkit-transition: box-shadow 0.5s ease 0s;
	-o-transition: box-shadow 0.5s ease 0s;
	background: #fff;
	margin-right: 14px;
}

.groUlOut li .x {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	height: 22px;
	left: 0;
	line-height: 22px;
	position: absolute;
	top: 0;
	width: 52px;
	z-index: 9;
	padding: 0 6px;
	*background: #000;
	background: #000\0;
}

.pro {
	position: relative;
	display: block;
	height: 199px;
	text-align: center;
	overflow: hidden;
}

.covet_living_lijian10 {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.box_glay {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding: 0px 10px 0px 11px;
	margin-top: 10px;
}

.pro_text span {
	color: #333;
	font-size: 16px;
}

.now_price {
	margin-top: 10px;
	color: #969696;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 0px 11px;
}

.price_l .bigfont {
	font-weight: bold;
}

.bigfont {
	color: #df0010;
}

.price_l del {
	font-size: 12px;
}

.btn_buy {
	position: absolute;
	bottom: 5px;
	right: 10px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	background: linear-gradient(0deg, #fd6140 0%, #f00919 100%);
	border-radius: 15px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.right_up {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	width: 80px;
}

.lazy {
	display: inline;
	width: auto;
	height: 100%;
}

.covet_living_lijian10>div {
	padding: 0 10px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	border-top-right-radius: 14px;
	color: #fff;
	font-size: 13px;
	*display: inline;
	*zoom: 1;
	background: linear-gradient(0deg, #FD5340 0%, #FF3D4B 100%);
}

.groUlOut li:hover {
	border: 3px solid red;
}

.lazy {
	margin-top: 5px;
	transition: all 0.5s;
}

.groUlOut li:hover .lazy {
	transform: scale(1.1);
}

.groUlOut li {
	box-sizing: border-box;
	border: 3px solid white;
}

.prev,
.next {
	height: 62px;
	cursor: pointer;
	width: 62px;
	display: block;
	text-align: center;
	font-size: 48px;
	opacity: 0.3;
	line-height: 55px;
	border-radius: 50%;
	background: black;
	color: blue;
}

.prev {
	position: absolute;
	top: 85px;
	left: -62px;
}

.next {
	position: absolute;
	top: 85px;
	right: -62px;
}

.tv_btn {
	display: none;
}

.newbrand_box {
	width: 1100px;
	margin: 0 auto;
	margin-top: 50px
}

.change_goods {
	position: absolute;
	top: 0;
	right: 0px;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 14px;
	cursor: pointer;
}

.mryh_goods {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mryh_goods li {
	cursor: pointer;
	width: 24%;
	height: 380px;
	background-color: #fff;
	margin-bottom: 15px;
	position: relative;
	border: 3px solid white;
}

.div_a {
	display: block;
	position: relative;
	padding: 0 0 16px 0;
}

.a_con4_list {
	display: block;
	cursor: pointer;
}

.mryh_goods li .p_img {
	overflow: hidden;
	width: 100%;
	padding: 0;
}

.mryh_goods li p {
	padding: 0 10px;
}

.p_img img {
	display: inline;
	overflow: hidden;
	width: 100%;
}

.mryh_goods li p.g_other_info {
	height: 1.2em;
	line-height: 1.2em;
	overflow: hidden;
	margin-top: 9px;
	color: #666;
	font-size: 14px;
}

.p_title,
.p_title a {
	margin-top: 4px;
	height: 40px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	color: #333;
}

.p_p {
	overflow: hidden;
	margin-top: 3px;
}

.p_p .price1 {
	font-weight: bold;
	color: #df0010;
	font-size: 14px;
	float: left;
	margin-left: -3px;
}

.p_p .price1 span {
	color: #df0010;
	font-size: 22px;
}

.p_p .price2 del {
	display: inline-block;
	color: #969696;
	font-size: 14px;
	margin-left: 8px;
	line-height: 30px;
}

.mryh_goods li:hover {
	border: 3px solid #DF0010;
}

.mryh_goods li:hover .huodong_text p {
	text-decoration: underline;
}

#con_list {
	width: 1100px;
	margin: 0 auto;
	margin-top: 30px;
}

.con_list_img {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.huodong {
	margin-top: 15px;
}

.floor_sx {
	position: absolute;
	background: url(../img/qgg_02.png);
	height: 113px;
	left: 50%;
	margin-left: -56px;
	top: 85px;
	width: 113px;
	z-index: 5;
}

.huodong_right_top {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	width: 80px;
}

#load_img {
	display: inline-block;
	margin-left: 45%;
}

.search_fixed {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0;
	height: 54px;
	background: #F11323;
	z-index: 49;
	display: none;
	overflow: hidden;
	transition: all 0.5s;
}

.w1200 {
	width: 1200px;
	margin: 0 auto;
}

.s_fixed_l {
	float: left;
	width: 120px;
	padding-left: 18px;
	padding-top: 9px;
}

.s_fixed_r {
	float: left;
	padding-top: 7px;
	position: relative;
	margin-left: 158px;
}

.search_list {
	display: none;
	position: absolute;
	left: 0;
	top: 41px;
	border: 1px solid #eaeaea;
	background-color: #fff;
	width: 810px;
}

.txt_f_sb {
	width: 445px;
	border: 1px solid #fff;
	height: 19px;
	border-radius: 40px;
	padding: 9px 0 9px 30px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	font-weight: 500;
	color: #666666;
}

.f_btn_search {
	width: 90px;
	border: none;
	background: #F11323;
	width: 90px;
	padding-left: 10px;
	height: 38px;
	display: block;
	float: left;
	color: #fff;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
}
.end{
	font-size: 16px;
	text-align: center;
	color:  #8C8C8C
}

.groUlOut .x{
	font-size: 10px;
}
.cover_living_djs span {
    display: inline-block;
    vertical-align: top;
    height: 34px;
    line-height: 34px;
    background: black;
    color: white;
    opacity: 0.3;
    padding: 0 5px;
    border-radius: 5px;
}
.cover_living_djs, .cover_livingnext {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    height: 34px;
    margin-top: -17px;
}